.board {
  margin-left: 14.5%;
}

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 15px; }

.grid-row:last-child {
  margin-bottom: 0; }

.grid-row:after {
  content: "";
  display: block;
  clear: both; }

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px;
  background: green;
  }

.grid-cell:last-child {
  margin-right: 0;
}

.turn-black {
  background: black;
}

.cell {
  display: inline-block;
  padding: 20px;
  width: 106.25px;
  height: 106.25px;
  border-radius: 3px;
  background: grey;
  border: 1px solid black;
  font-size: 60px;
  margin: auto;
  color: white;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-weight: bold;
  border-width: 5px;
}

[class="2"] {
  background: blue;
  color: blue;
}

[class="4"] {
  background: black;
  color: blue;
}

.8 {
  background: yellow;
  color: blue;
}

.16 {
  background: purple;
  color: blue;
}

.32 {
  background: brown;
}

.64 {
  background: pink;
}

.128 {
  background: orange;
}

.256 {
  background: #00FFFF;
}

.null {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
